extends ./layout.pug

block styles
block content
    form(action="/reportBudget" method="POST")
        input(type="number" placeholder="Enter your budget" name="budget")
        button Submit
    form(action="/reportBudget" method="POST")
            input(type="text" placeholder="Enter your expense" name="expense")
            input(type="number" placeholder="$" name="expenseAmount")
            button Submit
    form(action="/reportBudget" method="POST")
        input(type="text" placeholder="Enter income assets" name="asset")
        input(type="number" placeholder="$" name="assetAmount")
        button Submit
    h1 Budget:    
    each report in expenseReport
        h2= report.budget
            a(href="/delete/" + report._id) Delete

    h1 Expense / Assets History
    div(class="categories__container")
        h2 Expense
        h2 Amount
        h2 Asset
        h2 Amount

    table
    thead
        tr(class="categories__container")
            th Expense
            th Amount 
            th Asset
            th Amount
        tbody
            each report in expenseReport
                tr(style="background-color: red;")
                    td(class="red__bg")= report.expense
                    td(class="red__bg")= report.expenseAmount
                        a(href="/delete/" + report._id) Delete
                    td= report.asset
                    td= report.assetAmount
                        a(href="/delete/" + report._id) Delete