extends ./layout.pug

block content
    form(action="/budget" method="POST")
        input(type="number" placeholder="Enter your budget" name="budget")
        button Submit
    form(action="/expense" method="POST")
            input(type="text" placeholder="Enter your expense" name="expenseName")
            input(type="number" placeholder="$" name="expenseAmount")
            button Submit
    form(action="/asset" method="POST")
        input(type="text" placeholder="Enter income assets" name="assetName")
        input(type="number" placeholder="$" name="assetAmount")
        button Submit
    div
    h1(id="budget") Budget:
    each expense in expenses
            h1= expense.budget
    h1 Expense / Assets History
    table
        thead
            tr
                th Expense
                th Amount
                th Asset
                th Asset Amount
        tbody
            for expense in expenses
                tr
                    td= expense.expense
                    td= expense.expenseAmount
                    td= expense.asset
                    td= expense.assetAmount
    p Total
    p(id="total")= historyTotal    
    p= balance
    