extends ./layout.pug

block styles
block content
    form(action="/reportBudget" method="POST")
        input(type="number" placeholder="Enter your budget" name="budget")
        button Submit
    form(action="/reportBudget" method="POST")
            input(type="text" placeholder="Enter your expense" name="expense")
            input(type="number" placeholder="$" name="expenseAmount")
            button Submit
    form(action="/reportBudget" method="POST")
        input(type="text" placeholder="Enter income assets" name="asset")
        input(type="number" placeholder="$" name="assetAmount")
        button Submit
    h1 Budget:    
    each budget in budgets
        h2= budget.budget
            a(href="/delete/" + budget._id) Delete
    h2 Budget balance
        p= balance
    h2 Funds Available
    span= historyTotal    
    h1 Expense / Assets History
    div(class="categories__container")
        h2 Expense
        h2 Amount
        h2 Asset
        h2 Amount
        h2 Action
    each report in expenseReport
        div(class="reports__container")
            h2(class="red__bg")= report.expense
            h2(class="red__bg")= report.expenseAmount
            h2(class="green__bg")= report.asset
            h2(class="green__bg")= report.assetAmount
            a(class="red__bg" href="/delete/" + report._id) Delete
