extends ./layout.pug

block styles
block content
    div(class="half__partition")
        div
            form(action="/reportBudget" method="POST")
                input(type="number" placeholder="Enter your budget" name="budget")
                button(class="submit__button") Submit
            form(action="/reportBudget" method="POST")
                    input(type="text" placeholder="Enter your expense" name="expense")
                    input(type="number" placeholder="$" name="expenseAmount")
                    button(class="submit__button") Submit
            form(action="/reportBudget" method="POST")
                input(type="text" placeholder="Enter income assets" name="asset")
                input(type="number" placeholder="$" name="assetAmount")
                button(class="submit__button") Submit
            h1(class="category__titles budget__section") Budget:    
            each budget in budgets
                h2(class="category__subtitle")= budget.budget
                    a(class="action__button red__bg " href="/delete/" + budget._id) Delete
            h1(class="category__titles") Budget balance
                p(class="category__subtitle")= balance
            h1(class="category__titles") Funds Available
            h2(class="category__subtitle")= historyTotal    
        div(class="right__partition")
            h1(class="category__titles") Expense / Assets History
            div(class="categories__container")
                h1(class="history__titles") Expense
                //- h1(class="history__titles") Asset
                h1(class="history__titles") Amount
                h1(class="history__titles") Action
            each report in expenseReport
                div(class="reports__container")
                    div 
                        h2(class="red__bg reports__text")= report.expense 
                        h2(class="green__bg reports__text")= report.asset
                    div
                        h2(class="red__bg reports__text")= report.expenseAmount 
                        h2(class="green__bg reports__text")= report.assetAmount
                    div
                        a(class="blue__bg action__button" href="/update/" + report._id) Update
                        a(class="red__bg action__button" href="/delete/" + report._id) Delete
